In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
import json

In [2]:
with open('nga_lga.json') as json_data:
    data = json.load(json_data)

data_subset = data['var_catgry']
df = pd.DataFrame(data_subset)
df.head()

,is_missing,labl,stats,value
0,None,101. ABA NORTH,"[{'value': '0', 'type': 'freq', 'wgtd': None}]",101
1,None,102. ABA SOUTH,"[{'value': '178', 'type': 'freq', 'wgtd': None}]",102
2,None,103. AROCHUKWU,"[{'value': '0', 'type': 'freq', 'wgtd': None}]",103
3,None,104. BENDE,"[{'value': '67', 'type': 'freq', 'wgtd': None}]",104
4,None,105. IKWUANO,"[{'value': '32', 'type': 'freq', 'wgtd': None}]",105

In [3]:
df = df[['value','labl']]
df.head()

  value            labl
0   101  101. ABA NORTH
1   102  102. ABA SOUTH
2   103  103. AROCHUKWU
3   104      104. BENDE
4   105    105. IKWUANO

In [4]:
labl_split = list(df['labl'].str.split())

In [5]:
for sublist in labl_split:
    sublist.pop(0)
labl_split[:10]

[['ABA', 'NORTH'],
 ['ABA', 'SOUTH'],
 ['AROCHUKWU'],
 ['BENDE'],
 ['IKWUANO'],
 ['ISIALANGWA', 'NORTH'],
 ['ISIALANGWA', 'SOUTH'],
 ['ISIUKWUATO'],
 ['OBINGWA'],
 ['OHAFIA']]

In [6]:
for i in np.arange(len(labl_split)):
    if len(labl_split[i]) > 1:
        labl_split[i] = ' '.join(labl_split[i])
labl_split[:10]

['ABA NORTH',
 'ABA SOUTH',
 ['AROCHUKWU'],
 ['BENDE'],
 ['IKWUANO'],
 'ISIALANGWA NORTH',
 'ISIALANGWA SOUTH',
 ['ISIUKWUATO'],
 ['OBINGWA'],
 ['OHAFIA']]

In [7]:
def flatten_list(multilist):
    flat_list = []
    # Iterate through the outer list
    for element in multilist:
        if type(element) is list:
            # If the element is of type list, iterate through the sublist
            for item in element:
                flat_list.append(item)
        else:
            flat_list.append(element)
    return flat_list

In [8]:
new_labels = flatten_list(labl_split)
new_labels[:10]

['ABA NORTH',
 'ABA SOUTH',
 'AROCHUKWU',
 'BENDE',
 'IKWUANO',
 'ISIALANGWA NORTH',
 'ISIALANGWA SOUTH',
 'ISIUKWUATO',
 'OBINGWA',
 'OHAFIA']

In [9]:
df['lga'] = new_labels
df.head()

  value            labl        lga
0   101  101. ABA NORTH  ABA NORTH
1   102  102. ABA SOUTH  ABA SOUTH
2   103  103. AROCHUKWU  AROCHUKWU
3   104      104. BENDE      BENDE
4   105    105. IKWUANO    IKWUANO

In [12]:
df['lga'] = df['lga'].str.title()

In [13]:
df.head()

  value            labl        lga
0   101  101. ABA NORTH  Aba North
1   102  102. ABA SOUTH  Aba South
2   103  103. AROCHUKWU  Arochukwu
3   104      104. BENDE      Bende
4   105    105. IKWUANO    Ikwuano

In [14]:
df.to_csv('nga_lga_labels.csv', index=False)